.user-container {
  display: flex;
  flex-direction: column;
  padding: 32px;
}

.label {
  margin-bottom: 32px;
}

.button {
  height: fit-content;
  margin: 32px 16px 0px 0px;
}

.active-switch {
  margin-top: 32px;
}

.button-div {
  max-width: 400px;
  display: flex;
}

@media screen and (min-width: 769px) {
  .user-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 32px;
  }

}