<div class="user-container">
  <p class="h3-headline label">Cadastro de Usuário</p>
    <form [formGroup]="formUser" class="user-form">

    
        <input matInput type="number" id="id" formControlName="id" hidden>
      
        <mat-form-field appearance="fill" class="display-block">
            <mat-label>Nome</mat-label>
            <input matInput type="text" id="name" formControlName="name">
            <app-input-error-message [control]="formUser.get('name')"></app-input-error-message>
        </mat-form-field>
      
        <mat-form-field appearance="fill" class="display-block">
            <mat-label>Email</mat-label>
            <input matInput type="email" id="email" formControlName="email">
            <app-input-error-message [control]="formUser.get('email')"></app-input-error-message>
        </mat-form-field>
      
        <mat-form-field appearance="fill" class="display-block">
            <mat-label>Telefone</mat-label>
            <input matInput [textMask]="{mask: maskPhone,  guide: false}" type="text" id="phone" formControlName="phone">
            <app-input-error-message [control]="formUser.get('phone')"></app-input-error-message>
        </mat-form-field>
      
        <mat-form-field appearance="fill" class="display-block">
            <mat-label>CPF</mat-label>
            <input matInput [textMask]="{mask: maskCPF,  guide: false}" type="text" id="document" formControlName="document">
            <app-input-error-message [control]="formUser.get('document')"></app-input-error-message>
        </mat-form-field>

        <mat-form-field appearance="fill" class="display-block">
          <mat-label>CEP</mat-label>
          <input matInput [textMask]="{mask: maskCEP}" type="text" id="CEP" formControlName="CEP" (change)="searchCEPAdress()">
          <app-input-error-message [control]="formUser.get('CEP')"></app-input-error-message>
      </mat-form-field>
      
        <mat-form-field appearance="fill" class="display-block">
            <mat-label>Endereço</mat-label>
            <input matInput type="text" id="address" formControlName="address">
            <app-input-error-message [control]="formUser.get('address')"></app-input-error-message>
        </mat-form-field>
      
        <mat-form-field appearance="fill" class="display-block">
            <mat-label>Número</mat-label>
            <input matInput type="text" id="number" formControlName="number">
            <app-input-error-message [control]="formUser.get('number')"></app-input-error-message>
        </mat-form-field>
      
        <mat-form-field appearance="fill" class="display-block">
            <mat-label>Complemento</mat-label>
            <input matInput type="text" id="complement" formControlName="complement">
            <app-input-error-message [control]="formUser.get('complement')"></app-input-error-message>
        </mat-form-field>
      
        <mat-form-field appearance="fill" class="display-block">
            <mat-label>Cidade</mat-label>
            <input matInput type="text" id="city" formControlName="city">
            <app-input-error-message [control]="formUser.get('city')"></app-input-error-message>
        </mat-form-field>
      
        <mat-form-field appearance="fill" class="display-block">
            <mat-label>Estado</mat-label>
            <input matInput type="text" id="state" formControlName="state">
            <app-input-error-message [control]="formUser.get('state')"></app-input-error-message>
        </mat-form-field>
      
        <mat-form-field appearance="fill" class="display-block">
            <mat-label>Idade</mat-label>
            <input matInput type="number" id="age" formControlName="age">
            <app-input-error-message [control]="formUser.get('age')"></app-input-error-message>
        </mat-form-field>
        
        <mat-form-field  appearance="fill" class="display-block">
          <mat-label>Perfil</mat-label>
          <mat-select id="type" formControlName="type">
              <mat-option *ngFor="let type of getProfiles()" [value]="type">
                  {{ 'enum.profiles.' + type | translate }}
              </mat-option>
          </mat-select>
          <app-input-error-message [control]="formUser.get('type')"></app-input-error-message>
        </mat-form-field>

        <mat-form-field appearance="fill" class="display-block">
            <mat-label>Password</mat-label>
            <input matInput type="password" id="password" formControlName="password">
            <app-input-error-message [control]="formUser.get('password')"></app-input-error-message>
        </mat-form-field>
    
        <mat-slide-toggle id="enable" class="display-block active-switch" formControlName="active">Ativo</mat-slide-toggle>
        
      
      </form>
      <div class="button-div">
        <button mat-raised-button class="button app-button--basic" id="cancel" (click)="cancel()">Cancelar</button>
        <button mat-raised-button class="button app-button--primary" id="upsert" (click)="upsert()">Salvar</button>  
      </div>      
      
</div>