@import 'src/colors.scss';

.login-container {
    padding: 32px;
    display: grid;
    justify-content: center;
    text-align: center;
    background-color: $gray-dark;
    color: $white;
    min-height: calc(100vh - 400px);
}

.login-title {
    margin: 32px 0px 64px 0px; 
}

.login-sub-title {
    margin: 32px 0px 32px 0px;
    &--text {
        margin: 5px;
        cursor: pointer;
    }
}
.login-inputs {
  display: flex;
  flex-direction: column;
}
