<div class="menu">
<div class="nav-background">
  <div class="nav-container">
      <img (click)="home()" src="../../assets/images/logo.png" alt="Logo BoaSaude" class="nav-logo no-select">
      <p (click)="home()" class="system-title app-title no-select">Boa Saude</p>
      <section class="nav-icons">
        <p *ngIf="isLogged()">{{username}}</p>
        <span *ngIf="isLogged()" id="logout" (click)="logout()" class="material-icons login-icon no-select">
          clear
        </span>
        <span id="menu" (click)="toggleMenu()" class="material-icons menu-icon no-select">
          menu
        </span>
      </section>
  </div>
</div>
</div>
