$default: #0d99d6;
$light: #65c1ec;
$dark: #005486;
$blue: #017aff;
$cyan: #00f9ff;

$black: #000000;
$gray-dark: #2b2b2b;
$gray: #353535;
$gray-medium: #676767;
$gray-light: #c4c4c4;
$white: #ffffff;
$beige: #ededed;

$green-dark: #004b0a;
$green: #3db84d;
$green-light: #b1ff00;
$green-footer: #275b2e;

$error-red: #f01804;
$dark-error-red: #8b0c00;
